body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.president-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.president-card {
    width: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;
}

.president-card:hover {
    transform: scale(1.05);
}

.president-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.president-info {
    padding: 10px;
}

.president-info h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.president-info p {
    margin: 0;
    font-size: 14px;
    color: #777;
}
