body {
    text-align: center;
}

#game-container {
    margin-top: 50px;
}

input[type="text"] {
    margin-top: 10px;
    padding: 5px;
}

h3 {
    margin-top: 20px;
}

.hidden {
    display: none;
}
.biodata::before {
  content: ":";
  font-weight: bold;
  display: inline-block;
  margin-right: 0.5em;
}
